<div class="card">
  <div class="card-header">
    <h4>
      Customers

      <span class="pull-right">
    <%= link_to 'Add new Customer', new_customer_path, class: 'btn btn-primary' %>
  </span>
    </h4>
  </div>
  <div class="card-body">
    <table class="table table-bordered" id="customers_table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Cattle type</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.contact %></td>
          <td><%= customer.address %></td>
          <td><%= customer.cattle_type %></td>
          <td>
            <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                        customer, class: 'btn btn-primary btn-sm',
                        'data-toggle':"tooltip", 'data-placement': "top",
                        title: "Show details" %>
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                        edit_customer_path(customer),
                        class: 'btn btn-secondary btn-sm', 'data-toggle':"tooltip",
                        'data-placement': "top", title: "Edit Entry" %>
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe,
                        customer, class: 'btn btn-danger btn-sm',
                        method: :delete, data: { confirm: 'Are you sure?' },
                        'data-toggle':"tooltip", 'data-placement': "top",
                        title: "Delete Entry" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
