<table class="table table-bordered">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Date</th>
    <th>Time</th>
    <th>Shift</th>
    <th>Litre</th>
    <th>Rate</th>
    <th>Total price</th>
  </tr>
  </thead>

  <tbody>
  <% unless @daily_collections.nil? %>
    <% @daily_collections.each do |daily_collection| %>
      <tr>
        <td><%= daily_collection.customer.name %></td>
        <td><%= daily_collection.date %></td>
        <td><%= daily_collection.time.strftime("%I:%M %p") %></td>
        <td><%= daily_collection.shift %></td>
        <td><%= daily_collection.litre %></td>
        <td><%= daily_collection.rate %></td>
        <td><%= daily_collection.total_price %></td>
      </tr>
    <% end %>
    <tr>
      <th>Totals</th>
      <th></th>
      <th></th>
      <th></th>
      <th><%= @daily_collections.sum(&:litre) %></th>
      <th></th>
      <th><%= @daily_collections.sum(&:total_price) %></th>
    </tr>
  <% end %>
  </tbody>
</table>