<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Payment Register</h5>
<span style="text-align: center">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      SHIVKRUPA DOODH SANKALAN ANI SHEET KENDRA <BR>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      MADKIJAMB Mo. 9970430295, 9623109896
</span>
<br><br>
<div class="row">
  <div class="col">
    From: <%= params[:from_date] %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    To: <%= params[:to_date] %>
  </div>
</div>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Litre</th>
    <th>FAT</th>
    <th>SNF</th>
    <th>Rate <br/>
      <span class="note small-text text-muted" style="font-size: 8px;">This is Average rate Not for actual calculation</span>
    </th>
    <th>Total price</th>
  </tr>
  </thead>

  <tbody>
  <% unless @daily_collections.nil? %>
    <% @daily_collections.each do |daily_collection| %>
      <tr>
        <td><%= daily_collection.customer.name %></td>
        <td><%= daily_collection.litre %></td>
        <td><%= daily_collection.fat %></td>
        <td><%= daily_collection.snf %></td>
        <td><%= daily_collection.rate %></td>
        <td><%= daily_collection.total_price %></td>
      </tr>
    <% end %>
    <tr>
      <th>Totals</th>
      <th><%= @daily_collections.sum(&:litre) %></th>
      <th></th>
      <th></th>
      <th></th>
      <th><%= @daily_collections.sum(&:total_price) %></th>
    </tr>
  <% end %>
  </tbody>
</table>